#page-galery {
    background: var(--color-primary);
}

div.galery-container
{
  margin: 2px;
  border: 1px solid #000000;
  height: auto;
  width: auto;
  float: left; /* alinhamento a esquerda */
  text-align: center; /* texto da legenda alinhado no centro */
  font-family: Arial;
  font-size: 12px;
}
/* formatação das imagens */
div.galery-container img
{
  display: inline-block; /* exibição das imagens lado a lado */
  margin: 3px;
  border: 1px solid #ffffff;
  height: 100px;
}
